html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background-color: #000 !important;
  overflow: hidden !important;
}

*, *::before, *::after {
  box-sizing: border-box;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}